/* Start_Header */

header {
    background-size: cover;
    height: 70px;
    max-width: 1440px;
    margin: 0;
}

.container {
    margin: 0;
}

.header-line {
    padding-top: 25px;
    display: flex;
    align-items: center;
    padding-left: 241px;
}

.nav {
    display: flex;
}

.nav-item {
    text-decoration: none;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    margin-right: 100px;
    transition: color 0.3s linear;
}

.nav-item:hover {
    color: #6200ea;
}

.button1, .button2, .button3 {
    border-radius: 10px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
    background: linear-gradient(90deg, rgb(96, 169, 255), rgb(209, 135, 255));
    text-decoration: none;
    padding: 13px 32px;
    color: #efefef;
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    transition: background-color 0.3s linear;
    border: 0;
    margin-right: 50px;
}

.button1:hover, .button2:hover, .button3:hover {
    background: linear-gradient(90deg, rgb(96, 169, 255), rgb(138, 43, 226));
}

/* End_Header */
