.profile-container {
    margin-left: 250px;
    margin-top: 100px;
    width: 980px;
    border-radius: 20px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    padding: 20px; /* Отступы внутри блока */
}

.profile {
    display: flex;
    flex-direction: column;
}

.info-profile {
    margin-left: 50px;
}

.info-profile h1 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px; /* Отступ между группами форм */
}



.profile {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
}

.info-profile p {
    margin: 10px 0;
}

.form-container {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button1, .button2 {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button1:hover, .button2:hover {
    background-color: #45a049;
}